.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}
img{
    width: 100%;
}
.pic{
    max-width: 320px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}